<ng-container *ngIf="article; else loading">
  <div style="margin-top: 1rem;">
    <mat-card-title>{{ article.title }}</mat-card-title>
    <mat-card-subtitle>
      Par {{ article.author.name }} –
      {{ article.createdAt | date:'medium' }}
    </mat-card-subtitle>
    <br>
    <img *ngIf="imageUrl" [src]="imageUrl" alt="Image de l'article" style="max-width: 100%; margin-top: 1rem; border-radius: 8px" />
    <br>
    <mat-card-content style="margin-top: 1rem;">
      <p>{{ article.content }}</p>

      <mat-chip-set style="margin-top: 1rem;" *ngIf="article.tags?.length">
        <mat-chip *ngFor="let tag of article.tags">{{ tag }}</mat-chip>
      </mat-chip-set>
    </mat-card-content>
  </div>

  <!-- Section commentaires -->

  <app-comment-form [articleId]="article._id" (submitted)="reloadComments()"></app-comment-form>

  <app-comments *ngIf="comments?.length" [comments]="comments" [articleId]="article._id"
    (refresh)="reloadComments()"></app-comments>

</ng-container>

<ng-template #loading>
  <p>Chargement de l’article...</p>
</ng-template>