NODE_ENV=   # development, production, test
PORT=   # Port number for the server to listen on
JWT_SECRET=  # JWT secret key, should be a long random string
ACCESS_TOKEN_LIFETIME=   # in milliseconds
REFRESH_TOKEN_LIFETIME=   # in milliseconds
MONGO_URL=   # MongoDB connection string